body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  margin: 25px auto;
}

.list-btn a {
  color: #fff;
  text-decoration: none;
}

.inner-sec {
  padding: 15px;
  background-color: rgb(177 177 177 / 40%);
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  font-weight: 700;
}

.form-group input {
  border-radius: 7px;
}

thead {
  background-color: #212529;
  color: #fff;
}
